{% extends "layout.html" %}{% load static %}{% load i18n %} {% block body %} {% if user.is_authenticated %}{% with fname='images/'|add:params.logo_pic %}
<!-- ==Header Section== -->
<div style="display:none;">

    {% block bgno %}7{% endblock %} {% block imghieght %}200{% endblock %} {% block tag %}h2{% endblock %}{% block tag1 %}h2{% endblock %}

</div>
<!-- ==Ends== -->
<style>
    label[for="id_password"] {
        display: none;
    }
    
    #id_password {
        display: none;
    }
    
    .helptext {
        display: none;
    }
</style>

<section class="story-area left-text center-sm-text">

    <div class="container">

        <!-- ==The heading and and a SMALL INTRODUCTION== -->
        <div class="heading">
            <img class="heading-img" src="{% static fname %}" alt="">
            <h3>Change your password</h3>
            <h5 class="mt-10 mb-30">You can change your password from here.</h5>
        </div>
        <!-- ==Ends== -->


        <!-- ==Flashed Message== -->
        {% if messages %} {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
            {{message|safe}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} {% endif %}
        <!-- ==Ends== -->


        <form method="POST" class="form-style-1 placeholder-1">
            {% csrf_token %}
            <div class="row">

                {% for field in form %}
                <div class="col-md-{% if forloop.counter == 1 %}12{% else %}6{% endif %}">
                    <div class="input-group">
                        {{ field.label_tag }}
                    </div>
                    {{ field }} {% for error in field.errors %}
                    <span style="color: red">{{ error }}</span> {% endfor %}
                </div><br/>
                <hr/> {% endfor %}

            </div>
            <h6 class="center-text mtb-30"><button type="submit"> <a class="btn-primaryc plr-25"><b>UPDATE PASSWORD</b></a></button></h6>
        </form>
    </div>
</section>
{% endwith %} {% endif %} {% endblock %}