{% extends "layout.html" %}{% load static %}{% load i18n %} {% block body %}
<!-- ==Ends== -->
<style>
    label[for="id_password"] {
        display: none;
    }
    
    #id_password {
        display: none;
    }
    
    .helptext {
        display: none;
    }
</style>

<section class="story-area left-text center-sm-text">

    <div class="container">

        <!-- ==The heading and and a SMALL INTRODUCTION== -->
        <div class="heading">
            <img class="heading-img" src="{% static 'img/logo.png' %}" alt="logo" style="width: 6%; height: 6%;">
            <h3>Update Profile<i class='bx bx-user-circle'></i><i class='bx bx-detail'></i></h3>
            <h5 class="mt-10 mb-30">Please update you profile here.</h5>
        </div>
        <!-- ==Ends== -->


        <!-- ==Flashed Message== -->
        {% if messages %} {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
            {{message|safe}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} {% endif %}
        <!-- ==Ends== -->


        <form method="POST" class="form-style-1 placeholder-1">
            {% csrf_token %}
            <div class="row">

                {% for field in form %}
                <div class="col-md-6 form-group input-group">
                    <div class="input-group">
                        {{ field.label_tag }}
                    </div>
                    {{ field }} {% for error in field.errors %}
                    <span style="color: red">{{ error }}</span> {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> UPDATE PROFILE  </button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}