{% load static %}
<html>

<head>
    <title>Dhruva Shaw Discord Bot {% block title %}{{title}}{% endblock %}</title>
    <link rel="shortcut icon" type="image/icon" href="{% static 'img/logo.png' %}" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="This is the offical website of Dhruva Shaw Discord Bot Dashboard Config!">
    <meta name="robots" content="NOINDEX, NOFOLLOW">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .heading-img {
            height: auto;
            width: 40px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>

    <div class="card bg-light">
        <article class="card-body mx-auto">
            <center> <img class="heading-img" src="{% static 'img/logo.png' %}" alt="LOGO"> </center>

            <h4 class="card-title mt-3 text-center">{{heading}}</h4>

            <!-- ==Flashed Message== -->
            {% if messages %} {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert" id="alertdismissible">
                {{message|safe}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %} {% endif %}
            <!-- ==Ends== -->

            <form method="post">
                {% csrf_token %} {% for field in form %}
                <div class="form-group input-group">

                    <div class="input-group">
                        {{ field.label_tag }}
                    </div>

                    {{ field }} {% if field.help_text %}
                    <small style="display: none">{{ field.help_text }}</small> {% endif %} {% for error in field.errors %}
                    <small style="color: red">{{ error }}</small> {% endfor %}
                </div>
                {% endfor %}

                <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> {{heading}}  </button>
                </div>
                <!-- form-group// -->
            </form>
        </article>
    </div>
</body>
<!-- card.// -->

<script>
    window.onload = function() {
        document.addEventListener("contextmenu", function(e) {
            e.preventDefault();
        }, false);
        document.addEventListener("keydown", function(e) {
            //document.onkeydown = function(e) {
            // "I" key
            if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
                disabledEvent(e);
            }
            // "J" key
            if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
                disabledEvent(e);
            }
            // "S" key + macOS
            if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                disabledEvent(e);
            }
            // "U" key
            if (e.ctrlKey && e.keyCode == 85) {
                disabledEvent(e);
            }
            // "F12" key
            if (event.keyCode == 123) {
                disabledEvent(e);
            }
        }, false);

        function disabledEvent(e) {
            if (e.stopPropagation) {
                e.stopPropagation();
            } else if (window.event) {
                window.event.cancelBubble = true;
            }
            e.preventDefault();
            return false;
        }
    };
</script>
<!-- ==Ends== -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html