botmain/static/css/now-ui-kit.css linguist-vendored 
botmain/static/vendor/* linguist-vendored 
docs/* linguist-documentation
LICENSE linguist-documentation
README.md linguist-documentation
CONTRIBUTING.md linguist-documentation
CODE_OF_CONDUCT.md linguist-documentation
requirements.txt linguist-language=requirements
requirements-local-windows.txt linguist-language=requirements-local
.github/* linguist-generated
