[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
akinator = {extras = ["async"], version = "*"}
aiohttp = "*"
async-timeout = "*"
colorama = "*"
asyncdagpi = "*"
"betterstatcord.py" = "*"
discord-ext-owoify = "*"
"fluxpoint.py" = "*"
eight-ball = "*"
num2words = "*"
asyncpg = "*"
cachetools = "*"
gtts = "*"
ffmpeg = "*"
mal-api = "*"
"mystbin.py" = "*"
orjson = "*"
parsedatetime = "*"
pillow = "*"
platformdirs = "*"
psutil = "*"
pygit2 = "*"
pynacl = "*"
python-dateutil = "*"
pytz = "*"
sentry-sdk = "*"
spotify = "*"
typing-extensions = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
tengiphpy = "*"
youtube-dl = "*"
youtube-search = "*"
stringprogressbar = "*"
jishaku = {git = "https://github.com/Gorialis/jishaku.git"}
english-words = {git = "https://github.com/The-4th-Hokage/english-words-py.git"}
discord-py = {git = "https://github.com/Rapptz/discord.py.git"}
discord-ext-menus = {git = "https://github.com/Rapptz/discord-ext-menus"}
setuptools = "*"
alembic = "*"
lxml = "*"
sqlalchemy-utils = "*"
babel = "*"
black = "*"

[dev-packages]
watchfiles = "*"
pytest = "*"
pre-commit = "*"
black = "*"

[requires]
python_version = "3.13"
