akinator.py
async-cleverbot
asyncdagpi
buttons
discord
discord-ext-menus
discord-ext-owoify
discord-pretty-help
discord-py-slash-command
discord.py
DiscordUtils
dj-database-url
eight-ball
ffmpeg
gTTS
gunicorn
mystbin.py
Pillow
psycopg2
pypresence
python-dotenv
pytz
requests
sentry-sdk
spotify
statcord.py
whitenoise
youtube-dl
youtube-search
english-words
dpymenus
