aiohttp[speedups]
akinator.py
async-cleverbot
async-timeout
discord-together
asyncdagpi
betterstatcord.py
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus@master
discord-ext-owoify
discord.py @ git+https://github.com/Rapptz/discord.py@master
DiscordDatabase @ git+https://github.com/The-4th-Hokage/DiscordDatabase.git@master
eight-ball
num2words
english-words @ git+https://github.com/The-4th-Hokage/english-words-py.git@master
DiscordUtils @ git+https://github.com/The-4th-Hokage/DiscordUtils.git@master
ffmpeg
cachetools
gTTS
jishaku @ git+https://github.com/Gorialis/jishaku.git@master
mal-api
mystbin.py
orjson
parsedatetime
Pillow
platformdirs
psutil
pygit2
PyNaCl
python-dateutil
python-dotenv
pytz
sentry-sdk
spotify
sphinx
sphinxcontrib_trio
sphinxcontrib-websupport
sphinx-autoapi
typing-extensions
SQLAlchemy
TenGiphPy
youtube-dl
youtube-search
discordlists.py
StringProgressBar
uvloop; sys_platform != "win32"