{% extends "layout.html" %}{% load static %} {% block body %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4 text-success">Congratulations!</h1>
    <h4 class="spinner-grow spinner-grow-sm text-success" role="status" aria-hidden="true"></h4>
    <p class="lead">
        <b>You </b>Succesfully Kept Alive the Bot!
    </p>
</div>

<div class="card-deck mb-3 text-center">

</div>
{% endblock %}