aiohttp["speedups"]
akinator["async"]
async-timeout
asyncdagpi
asyncpg
betterstatcord.py
cachetools
colorama
discord-ext-owoify
eight-ball
ffmpeg
fluxpoint.py
git+https://github.com/Gorialis/jishaku.git
git+https://github.com/Rapptz/discord-ext-menus.git
git+https://github.com/Rapptz/discord.py.git
git+https://github.com/The-4th-Hokage/english-words-py.git
gtts
mal-api
mystbin.py
num2words
orjson
parsedatetime
pillow
platformdirs
pre-commit
psutil
pygit2
pynacl
pytest
python-dateutil
pytz
sentry-sdk
spotify
sqlalchemy["asyncio"]
stringprogressbar
tengiphpy
typing-extensions
watchfiles
youtube-dl
youtube-search
