{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{bot_pfp}}" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/now-ui-kit.css' %}">
    <script src="https://discordbotlist.com/widget/index.js" async></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <title>Minato Namikaze</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-transparent">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="{% static 'assets/menuIcon.svg' %}" width="20px" height="20px" style="max-width: none !important;">
    </button>
        <img src="{{bot_pfp}}" width="50" height="50" , style="border-radius: 50%;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Subscribtion</a>
                </li>
            </ul>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Documentation
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Commands</a>
                    <a class="dropdown-item" href="#">Tutorials</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Server settings</a>
                </div>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="#">About</a>
            </div>
            <button class="btn login-btn btn-outline-accent my-2 my-sm-0" style="font-size: 10px !important;font-family: poppins !important;">LOGIN</button>
        </div>
    </nav>
    <div class="heading">
        <h1 class="display-5 title">It's time to use Bot in your server.</h1>
        <p class="subtitle">Bot is a multi-purpose bot ready to skill up and boost up your Discord server<br />Also features auto-moderation, administration, music and much more!</p>
        <a class="btn btn-primary btn-lg" href="#start_link" target="_blank" role="button">Get started</a>
        <a class="btn btn-secondary btn-lg" href="#server_link" target="_blank" role="button">Add to server</a>
        <br /><br /><br /><br /><br /><br />
    </div>
    <div class="features">
        <div class="title">Features of Bot</div>
        <div class="subtitle">We provide you the best features in Bot!</div>
        <div class="cards">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Future #1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex ante, mattis vel dapibus vel, tempor facilisis justo. Vivamus dignissim ut nisi eu consequat.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Future #2</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex ante, mattis vel dapibus vel, tempor facilisis justo. Vivamus dignissim ut nisi eu consequat.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Future #3</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex ante, mattis vel dapibus vel, tempor facilisis justo. Vivamus dignissim ut nisi eu consequat.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="statistics">
        <div class="cards">
            <div class="card statistic" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-title" style="font-size: 50px !important;line-height: 15px !important;letter-spacing: -0.06em !important;font-weight: bold !important;">
                        <dbl-stat bot-id="minato-namikaze" stat="guilds">000</dbl-stat>
                        </h1>
                        <p style="font-weight: bold !important;font-size: 20px !important;">servers</p>
                </div>
            </div>
            <div class="card statistic" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-title" style="font-size: 50px !important;line-height: 15px !important;letter-spacing: -0.06em !important;font-weight: bold !important;">
                        <dbl-stat bot-id="minato-namikaze" stat="users">000</dbl-stat>
                        </h1>
                        <p style="font-weight: bold !important;font-size: 20px !important;">users</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page_end">
        <div class="start">
            <div class="card">
                <div class="card-body gs-card">
                    <div class="title">Ready to try Bot?</div>
                    <div class="subtitle">Invite Bot and start giving your server cool perks!</div>
                    <br />
                    <a class="btn btn-primary btn-lg" href="#start_link" role="button">Get started</a>
                </div><br />
            </div>
        </div>
        <div class="footer">
            <div class="bot-footer">
                <img src="{{bot_pfp}}" width="60" style="border-radius: 50%;"><br /> Copyright © [Dhruva Shaw] - 2020
            </div><br/>
            <div class="nouridio">website designed by <a href="https://www.buymeacoffee.com/nouridio"> nouridio</a></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/now-ui-kit.min.js' %}"></script>
</body>
<!--
<script>
    /**
     * Disable right-click of mouse, F12 key, and save key combinations on page
     */
    /* You can put this in a js file for directly put it in html flie using script tag */
    window.onload = function() {
        document.addEventListener("contextmenu", function(e) {
            e.preventDefault();
        }, false);
        document.addEventListener("keydown", function(e) {
            //document.onkeydown = function(e) {
            // "I" key
            if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
                disabledEvent(e);
            }
            // "J" key
            if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
                disabledEvent(e);
            }
            // "S" key + macOS
            if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                disabledEvent(e);
            }
            // "U" key
            if (e.ctrlKey && e.keyCode == 85) {
                disabledEvent(e);
            }
            // "F12" key
            if (event.keyCode == 123) {
                disabledEvent(e);
            }
        }, false);

        function disabledEvent(e) {
            if (e.stopPropagation) {
                e.stopPropagation();
            } else if (window.event) {
                window.event.cancelBubble = true;
            }
            e.preventDefault();
            return false;
        }
    };
</script>
-->

</html>